*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    display: flex;
    background: #0E1323;
}
.kapsayici{
    margin: 165px 190px 165px 190px;
    gap: 30px;
    display: flex;
}
.conteiner{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}
.div-body{
    border-radius: 15px;
    width: 255px;
    height: 518px;
    background: #1C204B;
}

.kutu1{

    border-radius: 15px;
    width: 255px;
    height: 244px;
    background-image: url(../img/turuncu.svg);
    background-repeat: no-repeat;
    img{
        margin-top: 40px;
    }
}

.kutu2{
    width: 255px;
    height: 244px;
    background-image: url(../img/turkuaz.svg);
    background-repeat: no-repeat;
    img{
        margin-top: 40px;
    }

}
.kutu3{
    border-radius: 15px;
    width: 255px;
    height: 244px;
    background-image: url(../img/pembe.svg);
    background-repeat: no-repeat;
    img{
        margin-top: 40px;
    }
}
.kutu4{
    border-radius: 15px;
    width: 255px;
    height: 244px;
    background-image: url(../img/yesil.svg);
    background-repeat: no-repeat;
    img{
        margin-top: 40px;
    }
}
.kutu5{
    border-radius: 15px;
    width: 255px;
    height: 244px;
    background-image: url(../img/kucukmor.svg);
    background-repeat: no-repeat;
    img{
        margin-top: 40px;
    }
}
.kutu6{
    border-radius: 15px;
    width: 255px;
    height: 244px;
    background-image: url(../img/sari.svg);
    background-repeat: no-repeat;
    img{
        margin-top: 40px;
    }
}